<h1>Sealed Pool (3 KTK, 3 FTR)</h1><br>
<b>Pack 1 ({{ pack1.1.set_abbrev }}):</b><br>
<ul>
    {% for card in pack1 %}
    <li><a href="{{ card.image_url }}">{{ card.card_name }}</a></li>
    {% endfor %}
</ul>
<b>Pack 2 ({{ pack1.1.set_abbrev }}):</b><br>
<ul>
    {% for card in pack2 %}
    <li><a href="{{ card.image_url }}">{{ card.card_name }}</a></li>
    {% endfor %}
</ul>
<b>Pack 3 ({{ pack1.1.set_abbrev }}):</b><br>
<ul>
    {% for card in pack3 %}
    <li><a href="{{ card.image_url }}">{{ card.card_name }}</a></li>
    {% endfor %}
</ul>
<b>Pack 4 ({{ pack1.1.set_abbrev }}):</b><br>
<ul>
    {% for card in pack4 %}
    <li><a href="{{ card.image_url }}">{{ card.card_name }}</a></li>
    {% endfor %}
</ul>
<b>Pack 5 ({{ pack1.1.set_abbrev }}):</b><br>
<ul>
    {% for card in pack5 %}
    <li><a href="{{ card.image_url }}">{{ card.card_name }}</a></li>
    {% endfor %}
</ul>
<b>Pack 6 ({{ pack1.1.set_abbrev }}):</b><br>
<ul>
    {% for card in pack6 %}
    <li><a href="{{ card.image_url }}">{{ card.card_name }}</a></li>
    {% endfor %}
</ul>
