<h1>Welcome to the MtG: Sealed Simulator</h1>

<h2>Select your packs</h2>

<h3>Pack 1:</h3>
<select>
  {% for set in sets %}
    <option value="{{set.set_abbrev}}">{{set.set_name}}</option>
  {% endfor %}
</select>

<h3>Pack 2:</h3>
<select>
  {% for set in sets %}
    <option value="{{set.set_abbrev}}">{{set.set_name}}</option>
  {% endfor %}
</select>

<h3>Pack 3:</h3>
<select>
  {% for set in sets %}
    <option value="{{set.set_abbrev}}">{{set.set_name}}</option>
  {% endfor %}
</select>

<h3>Pack 4:</h3>
<select>
  {% for set in sets %}
    <option value="{{set.set_abbrev}}">{{set.set_name}}</option>
  {% endfor %}
</select>

<h3>Pack 5:</h3>
<select>
  {% for set in sets %}
    <option value="{{set.set_abbrev}}">{{set.set_name}}</option>
  {% endfor %}
</select>

<h3>Pack 6:</h3>
<select>
  {% for set in sets %}
    <option value="{{set.set_abbrev}}">{{set.set_name}}</option>
  {% endfor %}
</select>
<br><br>
<b>List of All Available Sets</b>
<ul>
{% for set in sets %}
  <li>{{set.set_name}}, {{set.set_abbrev}}</li>
{% endfor %}
</ul>

Magic the Gathering and all cards for it belong to Wizards of the Coast
